@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sidenav {
    
  height: 40px;
  width: 220px;
  text-decoration: none; /* This property is not applicable to non-link elements */
  border-radius: 5px;
  padding-left: 18px;
  padding-top: 3px;
  color: blue;
  align-items: center;
}

.sidenav:hover {
  background-color: lightgray; /* Hover background color */
  color: #000; /* Change text color on hover */
}

.sidenav.active {
/* Your active styles here */
background-color: blue;
color: #fff;
}

.search-icon {
order: 2; 
cursor: pointer;
}

.file-upload {
width: 50rem;
background-color: darkgrey;
}



